@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}

/* code that is here, until the first @media block, will apply to any screen size */
#somethingorother {
  width: 800px ;
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #somethingorother {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #somethingorother {
    width: 480px ;
  }
}

p{
  font-family: novecento-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  color:#393D40;
  letter-spacing: 2.5px;
  font-size: 14px
}
body {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 15px;
    color: #393D40;
    /* display: flex;
    flex-direction: column; */
  }

  /* enter small devices and phone style overrides here */

 
  h1{
    font-family: "Playfair Display";
    letter-spacing: 5px;
    /* color:#99BFBB; */
    color: #deaa4e;
    font-weight: 545;
  }

  h2{
    font-family: "Playfair Display";
    letter-spacing: 5px;
    color: #B7D3DE;
    font-weight: 500;
  }

  h3{
    font-family: "Playfair Display";
    letter-spacing: 4px;
    font-weight: 520;
    font-size: 17px;
    color: #6C7D8C;
   
  }

  h4, h5{
    font-family: "Playfair Display";
    letter-spacing: 5px;
    font-weight: 500;
    color: #6C7D8C;
    
   
  }

  a{
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    color:#393D40;
    letter-spacing: 2.5px;
    font-size: 12px;
    text-decoration: none;
  }

  a:hover{
    color: #deaa4e;
    font-weight: 400;
    
  }

  h6{
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
    color:#393D40;
    letter-spacing: 3px;
    font-size: 12px
  }

  h7{
    font-family: "Playfair Display";
    letter-spacing: 3px;
    color: #deaa4e;
    font-weight: 600;
    size: 21px;
  }
  img{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    opacity: 0.9;
    max-width: 100%;
    max-height: 100; 
    object-fit: cover;

  }
 
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .topnav {
    /* background-color:#DDE9E5; */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    /* background-color: #E9DDE1;
     */
    background-color: #EDF2F2;

    overflow: hidden;
    /* padding: 5px; */
    z-index: 9999; 
  }
  .topnav a:hover {
    background-color: #DDE9E5;
    color: black;
  }

  
  footer {
    text-align: center;
    letter-spacing: 2px;
    /* background-color:#DDE9E5; */
    background-color: #BBD4CB;
    color:#393D40;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 13px;
    position: absolute;/* Updated Property */
    /* position: relative;; */
    /* bottom: 0; */
    width: 100%;
    /* margin-top: auto */

  }
  .column {
    float: left;
    width: 33.33%;
    /* padding: 5px; */
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  p.small {
    line-height: 0.7;
  }
  
  .zoom {
    /* padding: 50px; */
    transition: transform .1s; /* Animation */
    /* width: 30px;
    height: 30px; */
    margin:  auto;
    display: inline-block;
  }
  
  .zoom:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    /* display: inline; */
  }
  .half {
    padding: 10px;
    width: 100%;
    height: 24em;
    background-color: #BBD4CB;
    align-items: center;
    /* width: 50%; */
 }

 
 .otherhalf{
  padding: 10px;
  width: 100%;
  height: 15em;
  background-color: white;
  /* width: 50%; */
 }
  .li{
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
    color:#393D40;
    letter-spacing: 3px;
    font-size: 12px;
    margin: 0;
    padding: 36px 0 36px 84px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60px;
  }

  /* Slideshow container */
.slideshow-container {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 17em;
  /* background-color: #F5DD86; */
  align-items: center;
  /* background: #f1f1f1f1; */
}

/* Slides */
.mySlides {
  display: none;
  /* padding: 80px; */
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /* margin-top: -30px; */
  padding: 16px;
  color: #EDF2F2;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* margin-top: 3em; */
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
 
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(235,183,91,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  /* text-align: center; */
  padding: 20px;
  /* background: #ddd; */
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 5em;
  vertical-align: baseline;
  background-color: #F5DD86;
  text-align: center;
  margin-top: -10em;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  transition: background-color 0.6s ease !important
  
}
.dot::after{
  color: #EBB75B;
}

.dot::before{
  color: #EBB75B;
}


/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #EBB75B !important;
  /* align-items: center; */
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid#EDF2F2; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #EDF2F2; }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{
  border-style:solid;
  border-width:0px;
  font-family: novecento-sans-condensed, sans-serif;
  font-weight: 100;
  font-style: normal;
  color:#393D40;
  letter-spacing: 3px;
  font-size: 12px;
  overflow:hidden;
  padding:4px 10px;
  word-break:normal;
}

.tg th{
  border-style:solid;
  border-width:0px;
  font-family: novecento-sans-condensed, sans-serif;
  font-weight: 100;
  font-style: normal;
  color:#393D40;
  letter-spacing: 3px;
  font-size: 12px;
  overflow:hidden;
  padding:4px 10px;
  word-break:normal;
}

.tg .tg-zgsm{
  border-color:#ffffff;
  color:#333333;
  text-align:center;
  vertical-align:middle;
}




.btn {
  border: 2px solid black;
  background-color: #BBD4CB;
  color: black;
  padding: 12px 48px;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 5px;
  font-family: novecento-sans-condensed, sans-serif;
  font-weight: 100;
  font-style: normal;
  color:#393D40;
  margin:5px

}

/* Green */
.success {
  border-color: white;
  color: white;
  width: fit-content;
}

.success:hover {
  /* background-color: white; */
  /* color: #EBB75B; */
  border: 2px solid #EBB75B;
}

.project {
  border-color: white;
  color: white;
}

.project:hover {
  background-color: white;
  color: #BBD4CB;
  border: 2px solid #BBD4CB;
}

.about{
  background-color: white;
  color: #BBD4CB;
  border: 2px solid #BBD4CB;
  padding: 12px 48px;
  font-size: 12px;
  margin:6px
}
.about:hover{
  border-color: #EBB75B;
  color: #EBB75B;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 42px;
  align-content: center;
  text-align: center;
  
  }
.grid > article {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  align-content: center;
  text-align: center;
}
.grid > article img {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  max-width: 100%;
  align-content: center;
  text-align: center;
}
.text {
  padding: 0 20px 20px;
}

